@charset "ISO-8859-1";
body{
    height: 1000px;
    background-color: #242323;
}
.par{
    position: relative;
    
}
.b
{
    
    background-color: olivedrab;
    margin: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0.3);
    border-radius: 10px;
    height: 400px;
    border:2px solid #333;
    min-height:100%
        
}
.b:hover{
    transition: all 0.2s ease-in-out;
     margin-top: -10px;
}
 .bt{
    margin-left: 10px;
    padding-bottom: 5px;
    color: #f00;
    font-family: fantasy;
    font-size: 25px;
    height: 40px;
    width: 60px;
    text-align: center;
}

.cont {
    height: 350px;
    width: 100%;
   
    

    
}
img
{
    
    width:100%;
    height:100%;
    padding: 10px ;
    
    
}
sp{
    height: 100%;
    width: 100%;
}
.ap{
    height: 40px;
    min-width: 50px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid white;
    background-color: white;
   
    margin: 0px 20px 0px;
    font-family: fantasy;
    color: #212529;
    font-size: 25px;
    
}
span{
    float: right
}
a{
    float: left;
    
}
.container{
    margin-top: 20px;
}
.navbar{
    padding: 20px;
    font-weight: 900;
    
}
.navbar-nav{
    
  margin-left: 580px
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0px 30px;
    height: 100%;
    text-align: center;
}
ion-icon{
    margin-right: 5px
}
.navbar-light .navbar-nav  .nav-link .bas 
{
    background-color: royalblue;
    margin-top: -5px;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
}
h3  {
       width:200px;
       padding-bottom:4px;
       margin-left:60px;
       margin-bottom:15px;
       text-align: center;
       border-radius: 8px;
   	   border: 2px solid white;
       background-color: white;
	   
	   
}
div .on{
	margin-bottom:20px
}
.show_product{
	color:white;
	margin-top:100px;
	position: relative;
}
.product_child{
	width:100%;
	text-align:center;
	float:left;
	border-bottom: 3px solid white;
}
h5  {
	text-align:center;
	display:inline-block;
	margin: 10px 50px;
	color: white;	
	width:100%
}
.remove{
	margin-top: 5px
}
.pic{
	max-width:15%;
	max-height: 100%;
	text-align:center;
	display:inline-block;
	margin: 10px 50px;
	color: white;	
	
}
.name{
	max-width:5%;
	max-height: 100%;
}
.price{
	max-width:5%;
	max-height: 100%;
}
.quantity{
	max-width:5%;
	max-height: 100%;
}
.total{
	max-width:5%;
	max-height: 100%;
}
  .t{
	margin-left:740px;
	margin-top:30px;
	
}
.table  .id    {
	width:80px;
	height: 20px;
	padding-top:110px;
}
.table #po    {
	width:120px;
	height: 280px;
	position: relative;
	
}
.table .price    {
	width:100px;
	height: 50px;
	text-align: center;
	padding-top:110px;
}

.table .buttons    {
	width:20px;
	height: 50px;
	padding-top:110px;
}
.table .name    {
	width:100px;
	height: 50px;
	padding-top:110px;
}
table  .adpic{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	padding-top: 0px
}
table tbody{font-family: monospace;font-size: 30px;}


